/boot/cache/*
/node_modules
/public/assets/*
/public/build/*
/public/storage/*
/public/media/*
/vendor
.env
.phpunit.result.cache
/.idea

!/boot/cache/.placeholder
!/public/assets/.placeholder
!/public/build/.placeholder
!/public/storage/.placeholder
!/public/media/.placeholder

